* {
  box-sizing: border-box;
}

ol,
ul,
h1,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#categories {
  width: 440px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: #f6f6fe;
}

.item h2 {
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item ul li {
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 7px 15px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
}

.gallery {
  display: flex;
  margin: auto;
  list-style-type: none;
  max-width: 1440px;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.gallery-item {
  padding: 0;
  height: 300px;
}

.gallery-item-img {
  object-fit: cover;
  width: 360px;
  height: 300px;
}

#name-input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

#name-input::placeholder {
  color: #2e2f42;
}

h1 {
  color: #2e2f42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
