* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  margin: auto;
  list-style-type: none;
  max-width: 1440px;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.gallery-item {
  padding: 0;
  height: 300px;
}

.gallery-item-img {
  object-fit: cover;
  width: 360px;
  height: 300px;
}